.createTodo {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.5rem;
}
.btn {
  font-size: 16px;
  cursor: pointer;
}
.plus {
  font-size: 25px;
}
.check {
  color: #3bd942;
  margin-right: 5px;
}
.close {
  color: #f53e2a;
}
.task {
  position: relative;
  width: 100%;
  display: none;
}
.inputText {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
  padding-right: 2.5rem;
}
.decisionBtn {
  position: absolute;
  right: 0;
  top: 25%;
  line-height: 1;
}
